In [107]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import xmltodict as xd

In [108]:
# #open and convert the xml to csv
# with open('data/mochada_mpesa.xml', 'r') as file:
#     data = xd.parse(file.read())


# #extracting the messages
# messages = data['smses']['sms']

# #converting to dataframe
# df = pd.DataFrame(messages)


# #save as a csv(optional)
# df.to_csv('mochada_sms.csv', index=False)

# df.tail()

In [109]:
"""  
- create a new dataframe with only three main columns; Address, Body, and readable date
- change readable date to pandas datetime object
- inspect and see what information to extract from the body ie balance amount, amount taken or given
- perform a weekly analysis from Wednesday to Tuesday
- calculate the monthly commission earned based on the transactions
- Do a time series analysis of the dataset
"""

'  \n- create a new dataframe with only three main columns; Address, Body, and readable date\n- change readable date to pandas datetime object\n- inspect and see what information to extract from the body ie balance amount, amount taken or given\n- perform a weekly analysis from Wednesday to Tuesday\n- calculate the monthly commission earned based on the transactions\n- Do a time series analysis of the dataset\n'

In [110]:
df = pd.read_csv('mochada_sms.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3080 entries, 0 to 3079
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   @protocol        3080 non-null   int64
 1   @address         3080 non-null   object
 2   @date            3080 non-null   int64
 3   @type            3080 non-null   int64
 4   @subject         0 non-null      float64
 5   @body            3080 non-null   object
 6   @toa             0 non-null      float64
 7   @sc_toa          0 non-null      float64
 8   @service_center  3080 non-null   int64
 9   @read            3080 non-null   int64
 10  @status          3080 non-null   int64
 11  @locked          3080 non-null   int64
 12  @date_sent       3080 non-null   int64
 13  @sub_id          3080 non-null   int64
 14  @readable_date   3080 non-null   object
 15  @contact_name    3080 non-null   object
dtypes: float64(3), int64(9), object(4)
memory usage: 385.1+ KB

In [111]:
df.head()

,@protocol,@address,@date,@type,@subject,@body,@toa,@sc_toa,@service_center,@read,@status,@locked,@date_sent,@sub_id,@readable_date,@contact_name
0,0,MPESA,1713512313950,1,NaN,SDJ7N53FS3 Confirmed. On 19/4/24 at 10:38 AM T...,NaN,NaN,254722500040,1,-1,0,1713512297000,2,"Apr 19, 2024 10:38:33 AM",(Unknown)
1,0,MPESA,1713512587737,1,NaN,SDJ9N5M21L Confirmed. On 19/4/24 at 10:42 AM T...,NaN,NaN,254722500040,1,-1,0,1713512571000,2,"Apr 19, 2024 10:43:07 AM",(Unknown)
2,0,MPESA,1713512589079,1,NaN,SDJ9MU5DIL Confirmed. On 19/4/24 at 8:57 AM Ta...,NaN,NaN,254722500166,1,-1,0,1713506260000,2,"Apr 19, 2024 10:43:09 AM",(Unknown)
3,0,MPESA,1713512590679,1,NaN,SDJ2MYL302 Confirmed. On 19/4/24 at 9:39 AM Ta...,NaN,NaN,254722500040,1,-1,0,1713508798000,2,"Apr 19, 2024 10:43:10 AM",(Unknown)
4,0,MPESA,1713512593038,1,NaN,SDJ4N12JZY Confirmed. On 19/4/24 at 10:03 AM T...,NaN,NaN,254722500166,1,-1,0,1713510188000,2,"Apr 19, 2024 10:43:13 AM",(Unknown)

In [112]:
#columns to keep
data = df[['@address', '@body', '@readable_date']]


#renaming the columns 
data.columns = ['name', 'body', 'date']

#converting the date into datetime object
data['date'] = pd.to_datetime(data['date'])

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3080 entries, 0 to 3079
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3080 non-null   object
 1   body    3080 non-null   object
 2   date    3080 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 72.3+ KB

<ipython-input-112-c51030f18ed6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = pd.to_datetime(data['date'])

In [113]:
data.head(10)

,name,body,date
0,MPESA,SDJ7N53FS3 Confirmed. On 19/4/24 at 10:38 AM T...,2024-04-19 10:38:33
1,MPESA,SDJ9N5M21L Confirmed. On 19/4/24 at 10:42 AM T...,2024-04-19 10:43:07
2,MPESA,SDJ9MU5DIL Confirmed. On 19/4/24 at 8:57 AM Ta...,2024-04-19 10:43:09
3,MPESA,SDJ2MYL302 Confirmed. On 19/4/24 at 9:39 AM Ta...,2024-04-19 10:43:10
4,MPESA,SDJ4N12JZY Confirmed. On 19/4/24 at 10:03 AM T...,2024-04-19 10:43:13
5,MPESA,SDJ4N6KYGK Confirmed. On 19/4/24 at 10:51 AM T...,2024-04-19 10:51:30
6,MPESA,SDJ3NAIRL9 confirmed.You bought Ksh50.00 of ai...,2024-04-19 11:25:45
7,MPESA,SDJ4NEIHH0 Confirmed. On 19/4/24 at 11:59 AM T...,2024-04-19 11:59:58
8,MPESA,SDJ6NF0IHS Confirmed. On 19/4/24 at 12:03 PM T...,2024-04-19 12:04:14
9,MPESA,SDJ2NG9PAO Confirmed. On 19/4/24 at 12:14 PM T...,2024-04-19 12:14:52

In [114]:
data.tail(15)

,name,body,date
3065,MPESA,SGQ6Y1YOHQ Confirmed. Ksh400.00 sent to Equity...,2024-07-26 21:33:31
3066,MPESA,SGR12163XV Confirmed. Ksh100.00 sent to CLAIRE...,2024-07-27 18:24:19
3067,MPESA,SGS83T5DGW Confirmed. On 28/7/24 at 8:58 AM Ta...,2024-07-28 08:59:11
3068,MPESA,SGS43U9NDQ Confirmed. On 28/7/24 at 9:10 AM Ta...,2024-07-28 09:10:15
3069,MPESA,SGS03XREVC Confirmed. On 28/7/24 at 9:43 AM Ta...,2024-07-28 09:43:46
3070,MPESA,SGS33XYP3F Confirmed. on 28/7/24 at 9:45 AM Gi...,2024-07-28 09:45:25
3071,MPESA,SGS33YLZY1 Confirmed. on 28/7/24 at 9:51 AM Gi...,2024-07-28 09:51:32
3072,MPESA,SGS03YVQME Confirmed. On 28/7/24 at 9:54 AM Ta...,2024-07-28 09:54:29
3073,MPESA,SGS63Z7FII Confirmed. on 28/7/24 at 9:57 AM Gi...,2024-07-28 09:57:13
3074,MPESA,SGS444M4UK Confirmed. on 28/7/24 at 10:46 AM G...,2024-07-28 10:46:49
3075,MPESA,SGS245L5GQ Confirmed. On 28/7/24 at 10:55 AM T...,2024-07-28 10:55:57
3076,MPESA,SGS8488HBK Confirmed. on 28/7/24 at 11:20 AM G...,2024-07-28 11:20:05
3077,MPESA,SGS449HBC6 Confirmed. On 28/7/24 at 11:31 AM T...,2024-07-28 11:31:31
3078,MPESA,SGS949ZVIH Confirmed. On 28/7/24 at 11:35 AM T...,2024-07-28 11:36:22
3079,MPESA,SGS04DA44U Confirmed. On 28/7/24 at 12:05 PM T...,2024-07-28 12:05:47

In [115]:
data['body'].iloc[0]

'SDJ7N53FS3 Confirmed. On 19/4/24 at 10:38 AM Take Ksh1,100.00 cash from ROBERT MAHINDA Your M-PESA float balance is Ksh82,007.00. Click the link to Download M-Pesa Agent App and Transact the SMART way https://bit.ly/3Ll6JQU'

The `body` column seems to contain a lot of information, lets write a function to help us extract them and use them for analysis.

In [116]:
#lets create a function to extract information from this column
""" 
Function takes the a sting as input
Strips it into different sections
Extracts specific information from the texts;
    - unique id
    - transaction status
    - transaction type
    - amount
    - customer names
    - balance
"""

import re 

def extract(text):
    #split the text
    parts = text.split()
    
    #initialize variables
    id = parts[0]
    status = parts[1]

        #determine the actions
    if 'Take' in parts:#someone gave money to deposit
        action = 'Take'
        action_index = parts.index('Take')

    elif 'Give' in parts:
        action = 'Give'#someone withdrew money
        action_index = parts.index('Give')

    elif 'bought' in parts:
        action = 'bought'#sold airtime to customer
        action_index = parts.index('bought')

    elif 'sent' in parts:
        action = 'sent'#personal transactions
        action_index = parts.index('sent')

    else:
        action = None
        action_index = -1

    #extraction of the amount 
    amount_pattern = r'Ksh[\d,]+\.\d{2}'
    amount_match = re.search(amount_pattern, text)
    amount = amount_match.group(0) if amount_match else None
    # amount = parts[action_index + 1] if action_index != -1 else None

    #extraction of customer name
    if action in ['Take', 'Give']:
        name = parts[action_index + 4] + '' + parts[action_index + 5]
    else:
        name = None

    #extraction of mpesa balance
    bl_start = text.find('balance is') + len('balance is') + 1
    bl_end = text.find('Ksh', bl_start ) + text[bl_start:].find('Kshs') + len('Kshs') + text[bl_start:].find('.') + 3
    balance = text[bl_start:bl_end].strip() if bl_start != -1 and bl_end != -1 else None

    return {
        'Transaction Id':id,
        'Status':status,
        'Action':action,
        'Amount':amount,
        'Customer Name':name,
        'balance':balance,
    }

In [117]:
#lets apply the formula to the 'body' column
new_df = data['body'].apply(extract).apply(pd.Series)

new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3080 entries, 0 to 3079
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Transaction Id  3080 non-null   object
 1   Status          3080 non-null   object
 2   Action          2725 non-null   object
 3   Amount          2891 non-null   object
 4   Customer Name   2491 non-null   object
 5   balance         3080 non-null   object
dtypes: object(6)
memory usage: 144.5+ KB

In [118]:
new_df.head()

,Transaction Id,Status,Action,Amount,Customer Name,balance
0,SDJ7N53FS3,Confirmed.,Take,"Ksh1,100.00",ROBERTMAHINDA,"Ksh82,007.00. C"
1,SDJ9N5M21L,Confirmed.,Take,"Ksh1,100.00",brianchacha,"Ksh80,907.00. C"
2,SDJ9MU5DIL,Confirmed.,Take,"Ksh1,100.00",ChristopherRwara,"Ksh97,007.00. C"
3,SDJ2MYL302,Confirmed.,Take,Ksh100.00,johntimpanko,"Ksh83,407.00. C"
4,SDJ4N12JZY,Confirmed.,Take,Ksh300.00,NICKSONMIDUNGA,"Ksh83,107.00. C"

In [119]:
new_df['balance'].unique().sum()

"Ksh82,007.00. CKsh80,907.00. CKsh97,007.00. CKsh83,407.00. CKsh83,107.00. CKsh80,807.00. CKsh738.04. TKsh80,307.00. CKsh76,637.00. CKsh76,587.00. CKsh71,087.00. Cndly capture the correct mobile number and customer details as they appear on the identification document and attempt the depositKsh70,849.00. CKsh70,287.00. CKsh69,801.00. CKsh68,801.00. CKsh68,751.00. CKsh69,751.00. ClKsh68,951.00. CKsh66,951.00. CKsh66,713.00. CKsh66,501.00. CKsh65,701.00. CKsh65,381.00. CKsh65,281.00. CKsh65,081.00. CKsh64,231.00. CKsh63,160.00. CKsh63,042.00. CKsh58,042.00. CKsh57,942.00. CKsh59,242.00. ClKsh58,585.00. CKsh54,427.00. CKsh50,940.00. CKsh46,035.00. CKsh44,235.00. CKsh44,082.00. CKsh43,105.00. CKsh38,905.00. CKsh38,310.00. CKsh38,260.00. CKsh38,210.00. CKsh38,010.00. CKsh38,510.00. ClKsh38,160.00. CKsh6,338.04. UKsh38,110.00. CKsh37,960.00. CKsh36,711.00. CKsh39,211.00. ClKsh39,161.00. CKsh39,043.00. CKsh38,953.00. CKsh38,853.00. CKsh36,353.00. CKsh36,653.00. ClKsh32,653.00. CKsh32,583.00. CKsh32,633.00. ClKsh32,133.00. CKsh30,427.00. CKsh27,427.00. CKsh26,427.00. CKsh25,755.00. CKsh25,458.00. CKsh20,238.00. CKsh16,818.00. CKsh17,818.00. ClKsh18,058.00. ClKsh14,358.00. CKsh13,518.00. CKsh6,268.04. TKsh6,248.04. TKsh12,518.00. CKsh12,618.00. ClKsh6,218.04. TKsh12,321.00. CKsh11,921.00. CKsh10,197.00. CKsh6,417.00. CKsh6,017.00. CKsh4,514.00. CKsh49,950.24.Ksh4,289.00. CKsh2,266.00. CKsh266.00. CConfirmed. Ksh49,900.00   tKsh49,750.00. CKsh44,450.00. CKsh43,974.00. CKsh42,574.00. CKsh42,664.00. ClKsh41,112.00. CKsh40,672.00. Cu have entered the wronKsh6,168.04. TKsh40,522.00. CKsh39,783.00. CKsh37,364.00. CKsh36,716.00. CKsh38,216.00. ClKsh34,587.00. CKsh31,196.00. Cransaction is currently undKsh6,218.04. UKsh27,227.00. CKsh26,093.00. CKsh21,215.00. CKsh20,459.00. CKsh18,245.00. CKsh16,396.00. CKsh14,322.00. CKsh13,357.00. CKsh12,643.00. CConfirmed. Your account balance was: M-PESA Account : Ksh6,293.04 on 2Ksh5,986.04. TKsh6,143.00. CKsh6,193.00. ClKsh6,093.00. CKsh6,043.00. CKsh5,993.00. Cunable to process your request because a similar transaction is currently undKsh5,943.00. CKsh1,563.00. CKsh50,000.24.Ksh1,463.00. CKsh5,654.64.Ksh13.00. Ctoo low for you to take Ksh50.00 deposit from 0714020449\nYoConfirmed. Ksh50,000.00   tKsh49,963.00. CKsh49,913.00. CKsh49,650.00. CKsh49,489.00. CKsh49,316.00. CKsh47,816.00. CKsh34,816.00. CKsh35,516.00. ClKsh35,566.00. ClKsh34,846.00. CKsh34,278.00. CKsh34,078.00. CKsh5,297.64. TKsh32,878.00. CKsh28,846.00. CKsh27,136.00. CKsh23,356.00. CKsh22,474.00. CKsh22,356.00. CKsh21,268.00. CKsh19,364.00. CKsh19,314.00. CKsh19,014.00. CKsh18,849.00. CKsh14,599.00. CKsh14,174.00. CKsh14,074.00. CKsh12,780.00. CKsh12,280.00. CKsh41,000.24.Ksh11,388.00. CKsh11,488.00. ClKsh10,075.00. CKsh8,878.00. Ctoo low for you to take Ksh18,000.00 deposit from 0725396507\nYoConfirmed. Ksh41,000.00   tKsh31,878.00. CKsh32,028.00. ClKsh30,504.00. CKsh28,425.00. CKsh27,211.00. CKsh26,616.00. CKsh26,319.00. CKsh26,067.00. Cease ensure the customer is at your shop and you have verified their document of registration before attempting to deKsh25,867.00. CKsh26,867.00. ClKsh23,422.00. CKsh23,072.00. CKsh22,922.00. CKsh23,022.00. ClKsh23,322.00. ClKsh23,822.00. ClKsh22,822.00. CKsh208,995.69.Confirmed. Ksh208,995.00Ksh229,817.00. CKsh129,817.00. CKsh124,817.00. CConfirmed. Float Account Balance is Ksh123,817.00. oKsh123,817.00. CKsh123,617.00. CKsh111,617.00. CKsh111,417.00. CKsh5,147.64. TKsh110,787.00. CKsh109,212.00. CKsh111,712.00. ClKsh108,312.00. CKsh107,312.00. CKsh87,312.00. CKsh86,312.00. CKsh86,262.00. CKsh85,462.00. CKsh84,332.00. CKsh81,232.00. CKsh76,232.00. CKsh75,221.00. CKsh76,521.00. ClKsh4,504.64. TKsh75,140.00. CKsh73,831.00. CKsh73,015.00. CKsh73,245.00. ClKsh73,186.00. CKsh71,906.00. CKsh71,371.00. CKsh70,861.00. CKsh70,420.00. CKsh66,612.00. CKsh67,102.00. ClKsh64,127.00. CKsh63,560.00. CKsh63,454.00. CKsh65,054.00. ClKsh59,054.00. CKsh1,809.64. TKsh54,424.00. CKsh55,524.00. ClKsh54,334.00. CKsh56,134.00. ClKsh55,734.00. CKsh55,534.00. CKsh53,034.00. CKsh54,034.00. CKsh52,979.00. CKsh52,829.00. CKsh52,429.00. CKsh53,129.00. ClKsh47,429.00. CKsh47,259.00. CConfirmed. Float Account Balance is Ksh47,659.00. onKsh27,659.00. CKsh47,659.00. ClKsh27,559.00. CKsh27,759.00. ClKsh28,359.00. ClKsh28,759.00. ClKsh28,659.00. CKsh28,109.00. CKsh27,100.00. CKsh26,841.00. CKsh26,671.00. CKsh25,213.00. CKsh1,302.64. UKsh23,904.00. CKsh25,904.00. ClKsh80,000.69.Ksh21,304.00. CKsh17,804.00. CKsh17,614.00. CKsh1,202.64. TKsh1,102.64. TKsh16,798.00. CKsh15,489.00. CKsh15,132.00. Cmer, M-PESA is unable to process your request, we apologize for any inconvenConfirmed. Float Account Balance is Ksh15,132.00. onKsh13,305.00. CKsh5,305.00. CKsh6,305.00. ClKsh6,199.00. CKsh6,081.00. CKsh5,979.00. CKsh5,277.00. CKsh3,459.00. CKsh2,507.00. CKsh2,170.00. CKsh2,111.00. CKsh2,052.00. CKsh1,517.00. Ctoo low for you to take Ksh5,040.00 deposit from 0115830198\nYoConfirmed. Ksh80,000.00   tKsh3,602.64. YKsh79,017.00. CKsh73,977.00. CKsh5,042.64 .NKsh8,642.64. YKsh23.64. TKsh73,677.00. CKsh73,477.00. CKsh70,027.00. CKsh70,527.00. ClKsh70,366.00. CKsh70,128.00. CKsh69,128.00. CKsh67,003.00. CKsh67,803.00. ClKsh67,565.00. CKsh67,506.00. CKsh61,830.00. CKsh653.64. YKsh61,200.00. CKsh60,954.00. CKsh59,450.00. CKsh55,095.00. CKsh6,386.64. YKsh49,362.00. CKsh653.64. TKsh448.64. Te transaction cannot be completed at thisKsh4,625.25 .Tconfirmed. Commission of Ksh5,912.80 paidKsh50,362.00. ClKsh50,162.00. CKsh49,962.00. CKsh50,932.00. ClKsh51,432.00. ClKsh50,932.00. CKsh52,132.00. ClKsh54,132.00. ClKsh56,132.00. ClKsh56,082.00. CKsh347.64. TKsh54,507.00. CKsh1,922.64. YKsh314.64. TKsh54,607.00. ClKsh53,107.00. CKsh52,096.00. CKsh52,037.00. CKsh51,833.00. CKsh41,025.00. CKsh37,430.00. CKsh31,067.00. CKsh30,239.00. CKsh28,829.00. CKsh28,289.00. CKsh7.64. TKsh25,789.00. CKsh24,540.00. CKsh24,362.00. CKsh18,362.00. Csufficient funds in your M-PESA account as well as Fuliza M-PESA to pay KKsh4,425.25 .MKsh107.64. TKsh18,005.00. CKsh4,225.25 .MKsh127.64. TKsh15,006.00. CKsh14,590.00. CKsh14,114.00. CKsh13,205.00. CKsh11,365.00. CKsh9,853.00. CKsh6,829.00. CKsh0.00. CConfirmed. Float Account Balance is Ksh0.00. on 2/5/Ksh4,025.25 .MKsh292.64. TKsh2,500.00. ClKsh2,381.00. CKsh2,481.00. ClKsh94,668.02.Confirmed. Ksh94,668.00   tKsh98,949.00. ClKsh98,176.00. CKsh1,065.64. YKsh97,976.00. CKsh94,823.00. CKsh94,585.00. CKsh96,585.00. ClKsh96,755.00. ClKsh94,758.00. CKsh94,658.00. CKsh94,063.00. CKsh93,549.00. CKsh89,330.00. CKsh87,913.00. CKsh87,963.00. CKsh86,307.00. CKsh75,307.00. CKsh74,950.00. CKsh74,383.00. CKsh859.64. YKsh72,360.00. CKsh70,050.00. CKsh69,550.00. CKsh71,550.00. ClKsh71,650.00. ClKsh72,450.00. ClKsh72,344.00. CKsh72,140.00. CKsh70,376.00. CKsh69,543.00. CKsh1,053.64. YKsh69,393.00. CKsh40.64. TKsh0.64. TKsh100.64.Ksh68,393.00. CKsh69,293.00. ClKsh68,621.00. CKsh43,621.00. CKsh44,621.00. ClKsh44,821.00. ClKsh44,771.00. Cer is not registered to M-PESA and advise the agent to register the customerKsh44,601.00. CKsh44,951.00. ClKsh1,153.64. YKsh43,898.00. CKsh100.64. TKsh43,780.00. CKsh43,725.00. CKsh43,666.00. CKsh43,766.00. ClKsh42,916.00. CKsh42,857.00. CKsh42,381.00. CConfirmed. Float Account Balance is Ksh42,381.00. onKsh42,446.00. ClKsh41,851.00. CKsh41,651.00. CKsh38,785.00. CKsh30,785.00. CKsh31,155.00. ClKsh27,823.00. CKsh27,673.00. CKsh27,273.00. CKsh30,000.02.Ksh27,203.00. CKsh26,967.00. CKsh26,908.00. CKsh24,822.00. CKsh24,414.00. CKsh22,314.00. CKsh22,014.00. CKsh21,955.00. CKsh24,355.00. ClKsh22,260.00. CKsh2,807.64. YKsh19,553.00. CKsh19,403.00. CKsh17,954.00. CKsh17,538.00. CKsh17,377.00. CKsh25.64. TKsh17,327.00. CKsh14,327.00. CKsh14,263.00. CKsh14,000.00. CKsh15,000.00. ClKsh14,941.00. CKsh14,341.00. CKsh13,143.00. CKsh10,547.00. CKsh10,488.00. CKsh10,429.00. CKsh10,370.00. CKsh10,340.00. CKsh10,140.00. CKsh9,885.00. CConfirmed. Ksh30,000.00   tKsh36,405.00. CKsh32,925.00. CKsh31,145.00. CKsh29,594.00. CKsh29,494.00. CKsh125.64. UKsh21,844.00. CKsh300.64. UKsh14,569.00. CKsh14,510.00. CKsh13,045.00. CKsh2,101.64. YKsh11,244.00. CKsh300.64. TKsh11,044.00. CKsh10,474.00. CKsh9,874.00. CKsh678.64. YKsh9,496.00. CKsh5,972.00. CKsh5,846.00. CKsh733.64. TKsh4,202.64. YKsh4,328.64. YKsh4,631.00. CKsh3,421.00. CKsh13,421.00. ClKsh12,503.00. CKsh11,373.00. CKsh11,012.00. CKsh9,168.00. CKsh9,098.00. CKsh2,979.64. YKsh6,852.00. CKsh5,822.00. CKsh2,798.00. Ctor identity De Javu Holdings Komarock Phase 2 Executive Bar Agg - ck in M-PESA will be changed to dormant in 7p your handset powered on so as to receive the menu upKsh1,948.00. CKsh181,909.02.Confirmed. Ksh181,909.00Ksh171,909.00. CKsh143,909.00. CKsh138,221.00. CConfirmed. Float Account Balance is Ksh138,221.00. oKsh129,653.00. CKsh131,653.00. ClKsh121,056.00. CKsh120,938.00. CKsh118,797.00. CKsh117,159.00. CKsh116,987.00. CKsh114,551.00. CKsh114,251.00. CKsh110,291.00. CKsh110,191.00. CKsh108,667.00. CKsh108,567.00. Ctor identity De Javu Holdings Komarock Phase 2 Executive Bar Agg - ck in M-PESA will be changed to dormant in 6Ksh109,567.00. ClKsh109,467.00. CKsh109,412.00. CKsh741.64. YKsh108,971.00. CKsh306.64. TKsh1,406.64. YKsh107,871.00. CKsh353.64. TKsh107,771.00. CKsh77,771.00. CKsh76,221.00. CKsh74,221.00. CKsh79,191.00. ClKsh78,090.00. CKsh76,830.00. CKsh253.64. TKsh76,230.00. CKsh20,000.02.Ksh73,999.00. CKsh72,809.00. CKsh72,729.00. CKsh72,299.00. CKsh72,083.00. CKsh2,076.64. YKsh70,260.00. CKsh69,487.00. CConfirmed. Ksh20,000.00   tKsh300.64 .NKsh89,417.00. CKsh89,299.00. CKsh88,113.00. ClKsh241.64. TKsh300.64. YKsh88,054.00. CKsh83,140.00. CKsh79,801.00. CKsh3,100.64. YKsh77,001.00. CKsh4,108.64. YKsh75,993.00. CKsh3,100.64. TKsh2,234.25 .Ttor identity De Javu Holdings Komarock Phase 2 Executive Bar Agg - ck in M-PESA will be changed to dormant in 5Ksh2,234.25.Ksh734.25 .MKsh3,426.64. TKsh3,146.64. TKsh2,861.64. TKsh2,711.64. Ttor identity De Javu Holdings Komarock Phase 2 Executive Bar Agg - ck in M-PESA will be changed to dormant in 4Ksh2,811.64.Ksh76,093.00. ClKsh76,023.00. CKsh77,023.00. ClKsh76,726.00. CKsh5,205.64. YKsh74,332.00. CKsh2,811.64. TKsh74,232.00. CKsh71,674.00. CKsh2,681.64. TKsh72,174.00. ClKsh71,974.00. CKsh72,074.00. CKsh73,374.00. ClKsh73,274.00. CKsh72,474.00. CKsh72,974.00. ClKsh70,875.00. CKsh70,595.00. CKsh69,595.00. CKsh64,254.00. CKsh61,734.00. CKsh60,961.00. CKsh60,188.00. CKsh58,298.00. CKsh58,243.00. CKsh57,943.00. CKsh57,051.00. CKsh56,551.00. CKsh54,920.00. Ctor identity De Javu Holdings Komarock Phase 2 Executive Bar Agg - ck in M-PESA will be changed to dormant in 3Ksh54,820.00. CKsh2,651.64. TKsh54,702.00. CKsh53,512.00. CKsh51,042.00. CKsh4,730.64. YKsh48,963.00. CKsh48,419.00. CKsh4,650.64. TKsh2,571.64. TKsh48,369.00. CKsh50,169.00. ClKsh47,908.00. CKsh46,908.00. CKsh46,718.00. CKsh45,218.00. CKsh44,018.00. CKsh43,729.00. CKsh43,559.00. CKsh6,844.64. YKsh39,286.00. CKsh2,514.64. TKsh38,486.00. CKsh2,414.64. TKsh38,368.00. CKsh37,977.00. CKsh38,077.00. ClKsh29,277.00. CKsh29,177.00. CKsh3,233.64. YKsh28,358.00. CKsh27,773.00. CKsh27,573.00. CKsh26,048.00. CKsh25,812.00. CKsh25,635.00. CKsh22,184.00. CKsh19,088.00. CKsh19,188.00. ClKsh1,909.64. Ttor identity De Javu Holdings Komarock Phase 2 Executive Bar Agg - ck in M-PESA will be changed to dormant in 2Ksh18,156.00. CKsh1,789.64. TKsh1,689.64. TKsh18,456.00. ClKsh15,594.00. CKsh15,994.00. ClKsh15,924.00. CKsh16,144.00. ClKsh37,644.00. ClKsh31,299.00. CKsh28,608.00. CKsh22,434.00. CKsh18,722.00. CKsh16,693.00. Ctor identity De Javu Holdings Komarock Phase 2 Executive Bar Agg - ck in M-PESA will be changed to dormant in 1Ksh16,193.00. CKsh15,167.00. CKsh15,267.00. ClKsh7,267.00. CKsh3,767.00. CKsh3,867.00. ClConfirmed. Your account balance was: M-PESA Account : Ksh1,689.64 on 1Ksh1,589.64. TKsh2,544.00. CKsh2,912.64. YKsh2,444.00. CKsh1,815.00. CKsh1,745.00. CKsh734.25 .TKsh1,685.00. CKsh1,150.00. CKsh4,389.64. UKsh5,389.64. UKsh332.64. TKsh147.00. Ctor identity De Javu Holdings Komarock Phase 2 Executive Bar Agg - ck in M-PESA has been changed to dormant stor identity De Javu Holdings Komarock Phase 2 Executive Bar Agg - ck in M-PESA will be changed to dormant in 0Ksh198,000.97.Confirmed. Ksh198,000.00Ksh188,147.00. CKsh181,847.00. CKsh181,133.00. CKsh180,053.00. CKsh179,923.00. CKsh178,733.00. CKsh232.64. TKsh132.64. TKsh173,333.00. CKsh172,636.00. CKsh169,662.00. CKsh169,165.00. CKsh169,111.00. CKsh168,243.00. CKsh1,770.64. YKsh166,605.00. CKsh164,597.00. CKsh160,197.00. CKsh158,097.00. CKsh158,027.00. CKsh158,627.00. ClKsh157,934.00. CKsh157,637.00. CKsh157,519.00. CKsh155,697.00. CKsh155,459.00. CKsh151,355.00. CKsh150,355.00. CKsh3,869.64. TKsh137,855.00. CKsh137,605.00. CKsh134,928.00. CKsh134,698.00. CKsh134,350.00. CKsh133,850.00. CKsh127,850.00. CKsh127,744.00. CKsh119,744.00. CKsh121,244.00. ClKsh120,394.00. CKsh119,562.00. CKsh115,098.00. CKsh113,968.00. CKsh112,636.00. CKsh111,808.00. CKsh2,856.64. TKsh4,462.64. YKsh110,202.00. CKsh107,984.00. CKsh4,422.64. TKsh4,387.64. TKsh2,924.64. TKsh110,984.00. ClKsh111,084.00. ClKsh110,634.00. CKsh109,500.00. CKsh105,500.00. CKsh107,200.00. ClKsh108,200.00. ClKsh108,082.00. CKsh107,382.00. CKsh108,382.00. ClKsh108,182.00. CKsh110,172.00. ClKsh109,444.00. CKsh109,544.00. ClKsh110,044.00. ClKsh108,343.00. CKsh109,003.00. ClKsh108,948.00. CKsh109,148.00. ClKsh109,248.00. ClKsh109,048.00. CKsh107,278.00. CKsh111,278.00. ClKsh111,828.00. ClKsh87,828.00. CKsh87,174.00. CKsh87,056.00. CKsh2,774.64. TKsh87,156.00. ClKsh84,006.00. CKsh84,506.00. ClKsh83,706.00. CKsh83,606.00. CKsh82,706.00. CKsh81,473.00. CKsh80,985.00. CKsh77,985.00. CKsh78,285.00. ClKsh78,185.00. CKsh77,352.00. CKsh72,473.00. CKsh5,483.64. YKsh69,764.00. CKsh7,625.64. YKsh67,622.00. CKsh4,916.64. TKsh67,444.00. CKsh66,169.00. CKsh66,051.00. CKsh63,051.00. CKsh62,981.00. CKsh62,863.00. CKsh2,267.64. TKsh61,863.00. CKsh59,840.00. CKsh61,840.00. ClKsh60,829.00. CKsh60,472.00. CKsh60,582.00. ClKsh60,404.00. CKsh57,758.00. CKsh2,214.64. TKsh4,913.64. YKsh56,758.00. CKsh56,580.00. CKsh56,261.00. CKsh55,654.00. CKsh52,779.00. CKsh52,629.00. CKsh50,978.00. CKsh49,431.00. CKsh49,031.00. CKsh1,551.64. TKsh50,431.00. ClKsh50,022.00. CKsh49,872.00. CKsh48,872.00. CKsh48,772.00. CKsh49,272.00. ClKsh14,272.00. CKsh14,212.00. CKsh14,012.00. CKsh13,834.00. CKsh13,734.00. Card has been activated on 21/5/24 1:37 PM, please keep your handset powered on so as to receive the menu upity in  M-PESA is activated successfully. Transaction cost, Ksh0.00.Confirmed. Your account balance was: M-PESA Account : Ksh0.00 BusinessKsh100.00. UKsh1,451.64. TKsh12,893.00. CKsh12,052.00. CKsh11,904.00. CKsh11,085.00. CKsh10,985.00. CKsh8,754.00. CKsh7,754.00. CKsh1,351.64. TKsh8,054.00. ClKsh7,004.00. CKsh6,904.00. CKsh1,541.00. CKsh1,353.64. TKsh6,714.64. YKsh1,184.00. CKsh834.00. CKsh60,000.97.Confirmed. Ksh60,000.00   tKsh56,884.00. CKsh55,924.00. CKsh54,574.00. CKsh54,016.00. CKsh52,529.00. CKsh51,227.00. CKsh44,977.00. CKsh40,941.00. CKsh40,465.00. CKsh40,406.00. CKsh39,335.00. CKsh4,048.64. YKsh36,640.00. CKsh36,440.00. CConfirmed. Your account balance was: M-PESA Account : Ksh1,353.64 on 2Ksh37,340.00. ClKsh1,303.64. TKsh37,270.00. CKsh37,220.00. CKsh37,670.00. ClKsh36,270.00. CKsh36,170.00. CKsh36,070.00. CKsh36,020.00. CKsh36,180.00. ClKsh35,670.00. CKsh31,638.00. CKsh27,102.00. CKsh26,670.00. CKsh26,870.00. ClKsh25,870.00. CKsh4,870.00. CKsh143,029.42.Ksh870.00. CKsh470.00. CKsh770.00. ClKsh3,470.00. ClKsh3,570.00. ClConfirmed. Ksh143,000.00Ksh141,570.00. CKsh140,754.00. CKsh134,854.00. CKsh128,376.00. CKsh128,176.00. CKsh127,938.00. CKsh126,867.00. CKsh126,094.00. CKsh126,035.00. CKsh124,271.00. CKsh3,067.64. YKsh122,507.00. CKsh119,830.00. CKsh115,070.00. CKsh113,345.00. CKsh112,937.00. CKsh112,289.00. CKsh112,171.00. CKsh112,121.00. CKsh112,071.00. CKsh113,271.00. ClKsh112,954.00. CKsh99,954.00. CKsh100,454.00. ClKsh98,654.00. CKsh95,554.00. CKsh94,602.00. CKsh94,364.00. CKsh94,007.00. CKsh93,507.00. CKsh65,507.00. CKsh61,907.00. CKsh484.64. TKsh51,907.00. CKsh45,907.00. CKsh45,447.00. CKsh44,097.00. CKsh43,885.00. CKsh42,814.00. CKsh40,776.00. CKsh40,146.00. CKsh1,317.64. YKsh39,313.00. CKsh1,303.64. YKsh38,494.00. CKsh38,859.00. ClKsh38,799.00. CKsh38,299.00. CKsh4,053.64. YKsh35,549.00. CKsh1,296.22. TKsh46.22 .NKsh33,049.00. CKsh31,549.00. CKsh29,825.00. CKsh30,789.00. CKsh26,585.00. CKsh26,083.00. CKsh20,720.00. CKsh20,220.00. CKsh19,396.00. CKsh15,985.00. CKsh11.22. TKsh16,135.00. ClKsh16,076.00. CKsh15,162.00. CKsh15,262.00. ClKsh15,382.00. ClKsh15,170.00. CKsh14,261.00. CKsh13,621.00. CKsh13,021.00. ClKsh10,501.00. CKsh5,848.00. CKsh5,448.00. CKsh90,029.42.Ksh1,484.25 .MKsh231.22. TKsh1,284.25 .MKsh181.22. TKsh1,084.25 .MKsh76.22. TKsh126.22. SKsh0.22. TKsh8,048.00. Clntered the wron[20240526; ;Airtime Purchase; 999999999 - Safaricom Limited;Ksh126.00]Completed [20240526; ;Promotion Payment API; 7680394 - COCA-COLKsh7,848.00. CKsh8,348.00. ClKsh8,448.00. ClConfirmed. Float Account Balance is Ksh8,448.00. onKsh8,748.00. ClKsh884.25 .MKsh100.22. TKsh8,998.00. ClKsh9,598.00. ClKsh11,148.00. ClKsh10,948.00. CKsh12,148.00. ClKsh11,864.00. CKsh13,864.00. ClKsh13,464.00. CKsh13,664.00. ClKsh13,814.00. ClKsh12,995.00. CKsh12,281.00. CKsh12,222.00. Ctoo low for you to take Ksh20,000.00 deposit from 0725396507\nYoConfirmed. Ksh90,000.00   tKsh82,222.00. CKsh76,678.00. CKsh76,478.00. CKsh77,978.00. ClKsh67,978.00. CKsh68,178.00. ClKsh67,762.00. CKsh5,100.22. YKsh62,662.00. Csufficient funds in your M-PESA account as well as Fuliza M-PESA to send KSHKsh62,962.00. ClKsh62,903.00. CKsh62,797.00. CKsh62,355.00. CKsh62,201.00. CKsh59,201.00. CKsh59,151.00. CKsh55,182.00. CKsh2,016.22. YKsh53,166.00. CKsh52,082.00. CKsh48,691.00. CKsh48,391.00. CKsh42,154.00. CKsh38,204.00. CKsh50.22. SKsh38,554.00. ClKsh6.25 .MKsh37.22. TKsh38,654.00. ClConfirmed. Float Account Balance is Ksh38,654.00. onKsh38,954.00. ClKsh550.22. YKsh38,441.00. CKsh43.22. TKsh38,341.00. CKsh38,541.00. ClKsh38,371.00. CKsh38,071.00. CKsh38,271.00. ClKsh38,261.00. CKsh2,239.22. YKsh36,065.00. CKsh34,665.00. CKsh34,165.00. CKsh34,065.00. CKsh33,545.00. CKsh32,825.00. CKsh32,468.00. CKsh28,373.00. CKsh27,819.00. CKsh27,445.00. CKsh27,327.00. CKsh26,673.00. CKsh27,173.00. ClKsh27,073.00. CKsh29,073.00. ClKsh28,173.00. ClKsh28,123.00. CKsh27,943.00. CKsh7,943.00. CKsh5,208.00. CKsh4,908.00. CKsh4,808.00. CKsh4,178.00. CKsh4,878.00. ClKsh3,578.00. CKsh2,813.00. CKsh2,213.00. CKsh3,213.00. ClKsh3,143.00. CKsh143.00. CKsh2,984.22. UKsh2,493.00. ClKsh3,084.22. UKsh5,493.00. ClKsh32.22. TKsh2,493.00. CKsh45,029.42.Ksh2,315.00. CKsh1,814.00. CKsh4,714.00. ClKsh1,714.00. CKsh184.00. CKsh84.00. CConfirmed. Ksh45,000.00   tKsh22,084.00. CKsh22,284.00. ClKsh20,363.00. CKsh4,694.22. YKsh15,701.00. CKsh14,690.00. CKsh14,095.00. CKsh14,645.00. ClKsh14,545.00. CKsh11,845.00. CKsh13,345.00. ClKsh12,470.00. CKsh10,302.00. CKsh9,272.00. CKsh9,187.00. CKsh7,831.00. CKsh7,111.00. CKsh6,111.00. CKsh91.22. YKsh6,052.00. CKsh5,552.00. CKsh5,452.00. Cconfirmed. You have received Airtime of Ksh100.00 from DKsh5,402.00. CKsh3,568.00. CKsh3,668.00. ClKsh532.00. CKsh30,332.00. ClKsh29,332.00. CKsh27,092.00. CKsh25,292.00. CKsh25,192.00. CKsh24,087.00. CKsh24,028.00. CKsh22,542.00. CKsh22,236.00. CKsh21,236.00. CKsh20,464.00. CKsh804.22. YKsh91.22. TKsh19,664.00. CKsh18,184.00. CKsh17,184.00. CKsh15,848.00. CKsh11,960.00. CKsh209.22. YKsh11,842.00. CKsh11,510.00. CKsh1,545.22. YKsh10,174.00. CKsh3,296.22. YKsh8,423.00. CKsh8,117.00. CKsh209.22. TKsh150.22. TKsh8,058.00. CKsh8,858.00. ClKsh9,338.00. ClKsh338.00. CKsh538.00. Cltoo low for you to take Ksh1,000.00 deposit from 0746898912\nYoKsh419.00. CKsh339.00. CKsh439.00. ClKsh19,339.00. ClKsh141.22. UKsh19,209.00. CKsh14,209.00. CKsh10,906.00. CKsh10,406.00. CKsh8,301.00. CKsh8,201.00. CKsh1,501.00. CKsh2,301.00. ClKsh411.00. CKsh150.22. YKsh352.00. Ctoo low for you to take Ksh700.00 deposit from 0110421120\nYoKsh8,852.00. ClKsh9,252.00. ClKsh6,252.00. CKsh56.22. TKsh169,044.87.Confirmed. Ksh169,000.00Ksh126

In [120]:
import re

def extract_info(text):
    # Define the regular expression patterns for the different pieces of information
    transaction_id_pattern = r'^[A-Z0-9]+'
    status_pattern = r'(Confirmed|confirmed|You bought)'
    action_pattern = r'(Take|Give|bought)'
    amount_pattern = r'Ksh[\d,]+\.\d{2}'
    name_pattern = r'\b[A-Z][a-zA-Z]*\s[A-Z][a-zA-Z]*\b'
    balance_type_pattern = r'(float|balance)'
    balance_pattern = r'Ksh[\d,]+\.\d{2}'

    # Extract using the patterns
    transaction_id = re.search(transaction_id_pattern, text).group(0)
    status_match = re.search(status_pattern, text)
    status = status_match.group(0) if status_match else None
    action_match = re.search(action_pattern, text)
    action = action_match.group(0) if action_match else None
    amount_match = re.search(amount_pattern, text)
    amount = amount_match.group(0) if amount_match else None

    # Extract the name only if the action is "Take" or "Give"
    recipient_name = None
    if action in ['Take', 'Give', 'bought', 'sent']:
        names = re.findall(name_pattern, text)
        recipient_name = names[-1] if names else None

    balance_type_match = re.search(balance_type_pattern, text)
    balance_type = balance_type_match.group(0) if balance_type_match else None

    # Extract the last balance amount
    balances = re.findall(balance_pattern, text)
    balance = balances[-1] if balances else None

    return {
        'Transaction ID': transaction_id,
        'Status': status,
        'Action': action,
        'Amount': amount,
        'Recipient Name': recipient_name,
        'Balance Type': balance_type,
        'Balance': balance
    }


# Apply the extraction function to the 'messages' column
df_extracted = data['body'].apply(extract_info).apply(pd.Series)
# joined_df = pd.concat([df_extracted, data], join= 'inner')

# joined_df.info()

In [104]:
# joined_df.tail()

,Transaction ID,Status,Action,Amount,Recipient Name,Balance Type,Balance,name,body,date
3075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MPESA,SGS245L5GQ Confirmed. On 28/7/24 at 10:55 AM T...,2024-07-28 10:55:57
3076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MPESA,SGS8488HBK Confirmed. on 28/7/24 at 11:20 AM G...,2024-07-28 11:20:05
3077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MPESA,SGS449HBC6 Confirmed. On 28/7/24 at 11:31 AM T...,2024-07-28 11:31:31
3078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MPESA,SGS949ZVIH Confirmed. On 28/7/24 at 11:35 AM T...,2024-07-28 11:36:22
3079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MPESA,SGS04DA44U Confirmed. On 28/7/24 at 12:05 PM T...,2024-07-28 12:05:47

In [78]:
df_extracted['Balance Type'].unique()

array(['float', 'balance', None], dtype=object)